#App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 450px;
  height: 600px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#title {
  text-align: center;
  width: 100%;
  height: 50px;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-size: 1.5em;
}

#display {
  background: #f8f8f8;
  padding: 10px;
  width: 100%;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

#display-input,
#display-output {
  margin: 0;
  font-size: 1.5em;
  text-align: right;
}

.numbers-wrapper {
  width: 70%;
  justify-content: center;
  background: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 10px;
}

.button-number {
  width: 25%;
  color: #333;
  font-size: 1.2em;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
}

.button-zero {
  width: 60%;
}



#clear,
#delete {

  right: 14%;
  width: 37%;
  font-size: 1.2em;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background: #ff9999;
}

.operators-wrapper {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
}

#divide,
#multiply,
#add,
#subtract {
  width: 100%;
  height: 20%;
  font-size: 1.5em;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background: #66ccff;
}

#equals {
  color: white;
  width: 100%;
  font-size: 1.5em;
  padding: 10px;
  margin: 5px;
  border: 1px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  background: #3498db;
}
@media (max-width: 450px)
{
  #App
  {
    height: 100vh;
}
  .operators-wrapper
  {
    width: 80%;
  }
}

